#container { position: relative; width: 1000px; padding: 10px }

.axis {
  font: 13px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

line.explodingBoxplot.line,
rect.explodingBoxplot.box
{
  stroke: #888;
  stroke-width: 2px;
}

line.explodingBoxplot.vline{
  stroke-dasharray:5,5;
}

.explodingBoxplot.tip{
  font: normal 13px 'Lato', 'Open sans', sans-serif;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: #333333;
  color: #DDDDDD;
  border-radius: 2px;
}

g.tick text,
g.axis text{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
#rcorners {
    border-radius: 25px;
	background: #eee;
    padding: 15px;
width: 250px;
}